
table {
  table-layout: fixed;
}

th, td {
  width: 200px;
  padding-right: 70px!important;
}

th.size, td.size {
  width: 100px;
}

th.actions, td.actions {
  width: 220px;
}

button {
  cursor: pointer;
  margin-right: 7px;
  height: 26px;
  line-height: 20px;
}

button#translate-button {
  height: 52px;
}

span.breadcrumb {
  cursor: pointer;
  text-decoration: underline;
}

td.keys {
  cursor: pointer;
}

div.previewPane {
  float: left;
  margin-top: 10px;
  border: 1px solid;
  text-align: center;
  text-decoration: underline;
}

div.previewPane img, div.previewPane textarea {
  height: 480px;
  width: 416px;
}

div.actions {
  margin-top: 10px;
  margin-left: 10px;
  width: 100px;
  float: left;
}

div.actions mat-spinner {
  margin-left:auto;
  margin-right:auto;
}
